# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env

# Logs
*.log
bot.log

# Project specific
temp/
creds.json

# IDEs
.idea/
.vscode/
.DS_Store
